PORT=5000
MONGO_URI=mongodb+srv://akshaykalakonda9_db_user:agcbyNjRqZeZaUo9@cluster0.mongodb.net/shopflow?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d
NODE_ENV=development
